/* Centrar el título */
h1 {
    text-align: center;
  }
  
  /* Centrar los enlaces y mantenerlos en línea */
  nav ul {
    list-style: none; /* Quitar los puntos de las listas */
    display: flex; /* Convertir los elementos de la lista en elementos en línea flexibles */
    justify-content: center; /* Centrar los elementos dentro del contenedor */
    align-items: center; /* Centrar los elementos verticalmente dentro del contenedor */
  }
  
  nav li {
    margin: 0 10px; /* Agregar un margen entre cada elemento */
  }
  
  a {
    color: inherit; /* Hereda el color del elemento padre */
    text-decoration: none; /* Elimina el subrayado */
  }

.oculto {
    display: none;
  }